.form-control {
	border-radius: 10px;
}

div.panel-body {
	border-width: 1px;
}

.rem {
	border-width: 1px;
}
.media-object-img-rounded {
	left: 5px;
}

.tweetBody {
	border-width: 1px;
}

.pull-right-btn-info {
	
}

